// Variables
$family-sans-serif: "PT Sans";
// $size-6: 15px;

$primary: #00B7AC;

// Imports
@import "../node_modules/bulma/bulma";

.hero {
    border-bottom: 1px solid $white-ter;
    
    .title {
        margin-top: 1.5rem;
    }
}
