// Variables
$family-sans-serif: 'Inconsolata';
$primary: #00b7ac;

// Imports
@import '../node_modules/bulma/bulma';

.hero.is-dark {
  background-color: #111820;
}

.hero.is-medium {
  border-bottom: 1px solid $white-ter;

  .title {
    margin-top: 1.5rem;
    font-weight: 300;
    color: #67D5B5;
  }

  img {
    width: 13rem;
  }
}

.features {
  img {
    width: 9rem;
  }
}

.field.is-grouped {
  flex-wrap: wrap;
}

.is-grouped > .button {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.store-links {
  > a {
    display: inline-block;
    margin-right: 0.5rem;

    img {
      display: block;
    }
  }
}

.section-mobile {
  background-color: $white-ter;
}

.section-browsers {
  .title {
    margin-top: 1rem;
  }
}

.embedly-card, .embedly-card-hug {
  width: 100% !important;
  max-width: none !important;
}

.navbar span.icon.svg {
  background: hsl(0deg, 0%, 29%);
  width: 24px;
  height: 24px;
  mask-size: contain;
  mask-repeat: no-repeat;
  display: inline-block;

  &.svg-mastodon {
    mask-image: url(/static/img/mastodon.svg);
  }

  &:hover {
    background: hsl(229deg, 53%, 53%);
    cursor: pointer;
  }
}
